* {
  font-family: 'Righteous', cursive;
}

body {
  background-image: url("https://wallpaperbrowse.com/media/images/Music-Wallpaper-HD-1080p-42.jpg");
  background-size: 100%;
}

header {
  background-image: url("../images/music.jpg");
  background-color: light black;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Righteous', cursive;
  font-size: 3em;
  color: white;
}

nav a {
  font-size: .8em;
  text-decoration: none;
  color: white;
}

footer {
  display: flex;
  justify-content: flex-end;
  font-family: 'Righteous', cursive;
  font-size: 2em;
  color: white;
}

@media screen and (max-width: 600px) {
  header {
    font-size: 2em;
  }

  nav a {
    font-size: .5em;
  }

  footer {
    font-size: .8em;
  }
}

.button {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: #111;
  color: #eee;
  border-radius: 12px;
  font-size: 1.2em;
  margin: 1% auto;
  width: 60%;
}

.playlistWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.moodPlaylistImage {
  margin: auto;
  width: 100px;
  height: 100px
}

#placeholder{
  background-color: #111;
  color: #eee;
  font-size: 1.2em;
}

header {
  flex-basis: 6em;
  flex-grow: 0;
}

footer {
  flex-basis: 3em;
  flex-grow: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
 }

main {
  flex-grow: 1;

}



 form {
    margin: auto;
 }

 .seedWrapper {
  height: 100%;
  overflow: hidden;
  margin: auto;
 }

 iframe {
   margin: auto;
 }