

#box-container {
  width:10px;
  
  text-align:center;
  height:100px;
  }


body {
  background-image: url("https://wallpaperbrowse.com/media/images/Music-Wallpaper-HD-1080p-42.jpg") ;
  background-size: 100%;
}
header{
  background-image: url("../images/music.jpg");
  background-color:light black;
  padding:20px;
  margin:0 auto;
  text-align: center;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Righteous', cursive;
  font-size: 2.5em;
  color:white;
}
footer {
  font-family: 'Righteous', cursive;
  font-size: xx-large;
  color:white;
}

div#content {
  background-color:white;
  padding:150px; 
  margin:0 auto;
  height:20%;
 border:20px solid black;
 text-align:center; 
 
}

.popup-container{
    position: absolute;
    top: 0;
    bottom: 10;
    right: 00;
    left: 0;
    background-color: ORANGE;
    text-align:center; 
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 10%
  
  }

.column {
   float: right;
   width: 50%;
   width: 50%;
 }
  
  .popup{
    background-color: #f2f2f2;
    max-width: 600px;
    padding: 30px;
    min-width: 450px;
    z-index: 100;
  }
  
  .popup input[type = submit]{
    margin-top: 25px;
    
  }
  
  .isvisable{
    visibility:visible !important;
    
  }
  
  .modal-body img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
   
  .topnav .icon {
    display: none;
  }
  
 