<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layout/head %>
</head>
<body class="container">

<header>
    <% include ../layout/header %>
</header>

<main>
<div class="row">
    <div class="col-sm-8">    
        <div class="jumbotron">
            <h1>Welcome to our site</h1>
            <p>This is an app that plays music depending on your mood.</p>
        </div>
    </div>


</div>
</main>

<footer>
    <% include ../layout/footer %>
</footer>

</body>
</html>