<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../base.css">
  </head>
  <body>
    <header>

    </header>
    
    <main>
      <a href="/auth">We love you. Now log in to Spotify</a>
    </main>
      
    <footer>
        
    </footer>
  </body>

</html>