<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../base.css">
  </head>
  <body>
    <header></header>
    <main>
      <a href="/search">Search</a>
    </main>
      
      <footer></footer>
  </body>

  </html>