
<!DOCTYPE html>
<html>
   <%- include('../layout/head.ejs') %>
   <%- include('../layout/header.ejs') %>
  <body>
    <main>
      <a href="/auth">We love you. Now log in to Spotify</a>
    </main>
           <%- include('../layout/footer.ejs')%>

  </body>

</html>