<!DOCTYPE html>
<html>
   <%- include('../layout/head.ejs') %>
  <body>
    <%- include('../layout/headerFirst.ejs') %>
    <main>
    <a href="/auth">
      <div class="button">
        <h2>Log Into Spotify</h2>
      </div>
    </a>
    </main>
    <%- include('../layout/footer.ejs')%>
  </body>
</html>