<!DOCTYPE html>
<html>
   <%- include('../layout/head.ejs') %>
  <body>
    <%- include('../layout/headerFirst.ejs') %>
    <main>
        <div id="content">
            <h2>Log into Spotify</h2>
            <a href="/auth">ACCEPT</a>

            <a href="/auth">REJECT</a>

        </div>
    </main>
    <%- include('../layout/footer.ejs')%>
  </body>
</html>