
<!DOCTYPE html>
<html>
   <%- include('../layout/head.ejs') %>
   <%- include('../layout/header.ejs') %>
  <body>
    <main>
     
    </main>
           <%- include('../layout/footer.ejs')%>

  </body>

</html>