<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <main>
        <% userPlaylists.forEach(playlist => { %>
            <div class="playlistWrapper">
                <img class="moodPlaylistImage" src="<%=playlist.img_url.replace('\\\\', '/') %>">
                <iframe class="embeddedTrack" src="https://open.spotify.com/embed/track/<%=playlist.seedtrackid%>" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                <iframe class="embeddedPlaylist" src="https://open.spotify.com/embed/user/spotify/playlist/<%= playlist.playlistid %>" width="650" height="380" frameborder="0" allowtransparency="true"></iframe>
            </div>
        <% }) %>
    </main>
</body>
</html>