<!DOCTYPE <!DOCTYPE html>
<html>
<%- include('../layout/head.ejs') %>
<body>
    <%- include('../layout/header.ejs') %>
    <main>

        <iframe src="https://open.spotify.com/embed/user/spotify/playlist/<%= playListId %>" width="650" height="380" frameborder="0" allowtransparency="true"></iframe>

    </main>

</body>
</html>