<!DOCTYPE <!DOCTYPE html>
<html>
<%- include('./layout/head.ejs') %>
<body>
    <%- include('./layout/header.ejs') %>
    <main>
        <%- results.forEach(result => { %>
            
        <% }); %>
    </main>

</body>
</html>