<!DOCTYPE <!DOCTYPE html>
<html>
<%- include('../layout/head.ejs') %>
<body>
    <%- include('../layout/header.ejs') %>
    <main>

        <% console.log('successfully navigated to playlist page'); %>
        <% results.forEach(result => { %>
            <% console.log(result); %>
        <% }); %>
    </main>

</body>
</html>