<!DOCTYPE <!DOCTYPE html>
<html>
<%- include('../layout/head.ejs') %>
<body>
    <%- include('../layout/header.ejs') %>
    <main>
        <form method='post' action='/showMyPlaylists'>
            <input type="hidden" name="userid" value="<%=userid%>">
            <button type="submit">My Playlists</button>
        </form>
        <iframe src="https://open.spotify.com/embed/user/spotify/playlist/<%= playListId %>" width="650" height="380" frameborder="0" allowtransparency="true"></iframe>

    </main>

</body>
</html>