<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../base.css">
  </head>
  <body>
    <header></header>
    <main>
      <% console.log(danceability); %>
      <% console.log(valence); %>
      <form method="post" action="/spotifySearch" class="searchForm">
        <fieldset>
          <label>yuppers
            <input type="text" name="trackQuery" placeholder="Search by track" required>
          </label>
          <input type="hidden" name="danceability" value="<%=danceability%>">
          <input type="hidden" name="valence" value="<%=valence%>">
          <button type="submit">Searchypoo</button>
        </fieldset>
      </form>
    </main>
      
    <footer></footer>
  </body>

  </html>