
<header>
        
        <h1>Feeling The Beat</h1>
        
          <div class="container">
            <input id="toggle" type="checkbox">
        <label class="toggle-container" for="toggle">
          <span class="button button-toggle"></span>
           </label>
          <%- include('../layout/nav.ejs') %>
          </div>
          <div id="content">
          <h2>Log into Spotify</h2>
          <a href="/auth">ACCEPT</a>

          <a href="/auth">REJECT</a>
          
                  </div>
   </header>