
<header>
        
        <h1>Feeling The Beat</h1>
        <button class="hamburger"></button>
        <button class="cross"></button>
        <div class="menu">
                
              </div> 
              <%- include('../layout/nav.ejs') %>
          <div class="container">
             </label>
         
          </div>
         
   </header>