
<header>
    <h1>Feeling The beat</h1>
    <nav class="navigation">
        <ul>
            <li><a href="/auth">We love you. Now fucking log in to Spotify</a>
        </ul>
    </nav>

</header>
   