
<header>
        
        <h1>Feeling The Beat</h1>
        <button class="hamburger"></button>
        <button class="cross"></button>
        <div class="menu">
                
              </div> 
        
          <div class="container">
             </label>
          <%- include('../layout/nav.ejs') %>
          </div>
          <div id="content">
          <h2>Log into Spotify</h2>
          <a href="/auth">ACCEPT</a>

          <a href="/auth">REJECT</a>
          
                  </div>
   </header>