
<!-- <nav class=”navbar navbar-inverse navbar-fixed-top” role=”navigation”>
    <div class="menu">
        <ul>
        <a href="#home" class="active">HOME</a>
        <a href="/about">ABOUT </a>
        <a href="/about">myPlaylist </a>
        </ul>
        </div>
     </nav> -->


     
            <nav>
                <ul class="link" >
                <a href="#home" class="active">HOME</a>
                <a href="/about">ABOUT </a>
                <a href="/about">MY PLAYLISTS </a>
                </ul>
               </nav>