
<nav class=”navbar navbar-inverse navbar-fixed-top” role=”navigation”>
    <div class="navbar-fixed-top”" id="ourtopNav">
        <link rel="stylesheet" href="css/base.css">
        <a href="#home" class="active">HOME</a>
        <a href="#About">ABOUT </a>
        <a href="#contact">CONTACT</a>
        
        </div>
     </nav>